<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chat.DataAccess.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\kovpenko\Desktop\Chat\src\app\Chat.DataAccess\App_Data\TestDB.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />

      <!--<add name="Chat.DataAccess.Properties.Settings.TestDBConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\toxa\Desktop\Chat\src\app\Chat.DataAccess\App_Data\TestDB.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
    providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>