<configuration>

  <!--My custom contorls-->
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="MyControls" assembly="Chat.Presentation.Controls" namespace="Chat.Presentation.Controls"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!--Connection strings-->
  <connectionStrings>
    <!--<add name="TestDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\kovpenko\Desktop\Chat\src\app\Chat.DataAccess\App_Data\TestDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />-->

    <!--<add name="TestDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\toxa\Desktop\Chat\src\app\Chat.DataAccess\App_Data\TestDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
    providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>

  <!--WCF service-->
  <system.serviceModel>
    <behaviors>

      <serviceBehaviors>
        <behavior name="DebugServiceCfg" >
          <!--Shows config in the browser and allows gettign metadata-->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <!--Required for REST service-->
        <behavior name="RESTBehaviour">
          <webHttp helpEnabled="true" faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!--Service endpoint definition-->
    <services>
      <service name="Chat.Presentation.UI.Services.MessageService" behaviorConfiguration="DebugServiceCfg">
        <endpoint address=""
            binding="webHttpBinding"
            contract="Chat.Service.Core.IChatService"
            behaviorConfiguration="RESTBehaviour">

        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    
  </system.serviceModel>
</configuration>
